[offline-common]
name=CentOS-$releasever - common
baseurl=file:///var/tmp/common
enabled=1
gpgcheck=no

[offline-docker]
name=CentOS-$releasever - docker
baseurl=file:///var/tmp/docker
enabled=1
gpgcheck=no

[offline-k8s]
name=CentOS-$releasever - k8s
baseurl=file:///var/tmp/k8s
enabled=1
gpgcheck=no

[offline-glusterfs]
name=CentOS-$releasever - glusterfs
baseurl=file:///var/tmp/gluster
enabled=1
gpgcheck=no